@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 24% 16%; /* Dark Violet */
    --foreground: 0 0% 100%; /* White */

    --card: 0 0% 100%; /* White */
    --card-foreground: 260 24% 16%; /* Dark Violet */

    --popover: 0 0% 100%; /* White */
    --popover-foreground: 260 24% 16%; /* Dark Violet */

    --primary: 282 39% 25%; /* Deep Violet */
    --primary-foreground: 0 0% 100%; /* White */

    --secondary: 260 24% 96%; /* Light Violet */
    --secondary-foreground: 282 39% 25%; /* Deep Violet */

    --muted: 260 24% 96%; /* Light Violet */
    --muted-foreground: 260 24% 46%; /* Medium Violet */

    --accent: 260 24% 96%; /* Light Violet */
    --accent-foreground: 282 39% 25%; /* Deep Violet */

    --destructive: 0 84.2% 60.2%; /* Red */
    --destructive-foreground: 0 0% 100%; /* White */

    --border: 260 24% 90%; /* Very Light Violet */
    --input: 260 24% 90%; /* Very Light Violet */
    --ring: 282 39% 25%; /* Deep Violet */

    --radius: 0.5rem;
  }

  .dark {
    --background: 260 24% 16%; /* Dark Violet */
    --foreground: 0 0% 100%; /* White */

    --card: 260 24% 16%; /* Dark Violet */
    --card-foreground: 0 0% 100%; /* White */

    --popover: 260 24% 16%; /* Dark Violet */
    --popover-foreground: 0 0% 100%; /* White */

    --primary: 0 0% 100%; /* White */
    --primary-foreground: 282 39% 25%; /* Deep Violet */

    --secondary: 260 24% 25%; /* Darker Violet */
    --secondary-foreground: 0 0% 100%; /* White */

    --muted: 260 24% 25%; /* Darker Violet */
    --muted-foreground: 260 24% 70%; /* Medium Violet */

    --accent: 260 24% 25%; /* Darker Violet */
    --accent-foreground: 0 0% 100%; /* White */

    --destructive: 0 62.8% 30.6%; /* Dark Red */
    --destructive-foreground: 0 0% 100%; /* White */

    --border: 260 24% 25%; /* Darker Violet */
    --input: 260 24% 25%; /* Darker Violet */
    --ring: 260 24% 83.9%; /* Very Light Violet */
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }

  .violet-gradient {
    background: linear-gradient(90deg, #4b0082 0%, #8a2be2 100%);
  }

  .violet-border {
    border-color: rgba(138,43,226,0.5);
  }

  .card {
    @apply bg-card text-card-foreground p-4 rounded-lg shadow-md;
  }

  .button-primary {
    @apply bg-primary text-primary-foreground py-2 px-4 rounded-md hover:bg-primary-600;
  }

  .button-secondary {
    @apply bg-secondary text-secondary-foreground py-2 px-4 rounded-md hover:bg-secondary-600;
  }
}
